

.top-nav li {
    display: inline-block;
    
}

.top-nav {
    padding: 0 15px;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}



#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
/***************************************************************************

.container {
	 margin-top: -4.5em; 
	 width: 100%; 
	
}
body {
	height: 100%
	width:100%;
}
.body-content {
	margin-top: 3em;
	margin-left: 7em;
	
	width: 85%;
	transition: margin-left 0.5s linear;
	-moz-transition: margin-left 0.3s linear;
	-webkit-transition: margin-left 0.3s linear;

}
/*
div.wrapper {
	width:1000px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
* it was comment
div.banner {
	width: 100%;
	height: 90px;
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffccff;
	/* border: 1px solid black; * in was comment
	}

}

header {
	
	padding: 0em;
	color: white;
	font-size: xx-large;
	position: absolute;
	width: 100%;

}

header a {
	margin-left: 5em;
	color: black;
	text-decoration: none;

}
header a:active {
	color: white;
}
header a:focus {
	color: white;
}

.pdsa-sn-wrapper {
	position: absolute;
	margin-left: -1.4em;
	/*top: 0em; * it was comment
	left: 0em; 
	width: 7em;
	 height: 100%; 
	 background-color: #ffccff;  
}

.pdsa-sn-wrapper ul {
	width: 7em;
	list-style: none;
	margin-top: 2em;
	margin-left: 2em;
	padding: 0em;

}
.pdsa-sn-wrapper ul li {
	margin-top: 0em;
	margin-bottom:0.5em;
	transition: left 0.2s linear;
	-moz-transition: left 0.2s linear;
	-webkit-transition: left 0.2s linear;
}


.pdsa-sn-wrapper ul li a {
color: #999900;
text-decoration: none;
padding: 0.5em;
}

.pdsa-sn-wrapper ul li a span{
	margin-top: -1em
	margin-left: -1em;
	margin-right: -1em
	margin-bottom -1em
}

.pdsa-sn-wrapper ul li a:hover {
	text-decoration: none;
	color: red;
}

.pdsa-sn-wrapper ul li a a:active,
.pdsa-sn-wrapper ul li a:focus {
text-decoration: none;
outline: none;
color: green;
}

.pdsa-sn-wrapper ul .psda-sn-brand {
margin-left: 7em;
font-size: large;
color: white;
}

.psda-sn-wrapper ul .psda-sn-brand a {
color: black;
font-size: xx-large;

}

.psda-sn-wrapper ul .psda-sn-brand a:hover {

	color: pink;
	background: none;
}

@media all and (max-width: 768px) {
	.pdsa-sn-wrapper {
		left: -6em;
	}

	.pdsa-sn-wrapper ul li a i {
		padding-left: 5.5em;
		

	}
	.body-content{
		margin-left: 1em;

	}

}

****************************************/