<!DOCTYPE html>
<html>

<head>
  <title><%=title%></title>
</head>
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/tether/dist/js/tether.js"></script>
    <!--endbower-->
    <!--inject:js-->

   <script src="/js/scripts.js"></script>

   <!--endinject-->

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
<body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-primary ">

    </nav>
    <div class="col-md-1"> 
    <div class="padding-top">  
            <ul class="nav nav-pills nav-stacked">   
            <% for(var i=0; i<sideMenu.length;i++) {%>
                <li class=" active">
                <a href="<%=sideMenu[i].Link%>"> 
                <i class="fa fa-fw fa-hand-o-right"></i> <%=sideMenu[i].Text%> 
                </a>
                </li>
            <%}%> 
            </ul>
        </div>
    </div>


</body>
</html>
    
        
       <div class="col-md-9 col-lg-10 main">
        <div class="padding-top"> 
        
        
  <form name="signInForm" class="login-form" action="/auth/signin" method="post">
    
        <div class="header">
        <h1>Welcome to this Site</h1>
        <span>Please, fill this form</span>
        </div>
        <div class="content"> 
            <input name="username" id="username" class="input username" placeholder="username" />        
            <div class="user-icon">
                
            </div>
            <input name="password" id="password" class="input password" placeholder="password" />
            <div class="pass-icon">
                
            </div>       
        </div>
        <div class="footer">
           
            <input class=" btn-primary" type="submit" value="Submit">
        </div> 

  </form>
       
        </div>
    </div>




</body>
</html>