<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	
	
 <!--bower:css-->
 <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
 <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
 <!--endbower-->
    
 

    <!--inject:css-->
   
    <link rel="stylesheet" href="/css/main.css">
   
    <link rel="stylesheet" href="/css/styles.css">
   
    <!--endinject-->
  

 </head>

 <body>
  <div id="wrapper">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

	<a class="navbar-brand" href="/">Home</a>
	<ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                         <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                        </li>
                        </ul>
                        </li>
                        </ul>



  </nav>
  </div>
 <!-- <div class="wrapper">
 	

 </div> -->

    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/tether/dist/js/tether.js"></script>
    <!--endbower-->
   <!--inject:js-->
   <script src="/js/scripts.js"></script>
   <!--endinject-->

    <div class="container">
    <div class="row">
        <header>
       
      <%=title%>

        </header>
        <div class="banner"> 
        	<a href="/">
        	<!--
				<img class="image" width="100%" height="100%" src="img/banner.jpg">
			-->
			</a>

        <nav class="pdsa-sn-wrapper">


            <ul>
                <li class="pdsa-sn-brand">
                <a href="/">
                <span class="visible-sm visisble-md visible-lg"> Home </span> 
                <i class="glyphicon glyphicon-home visible-sm visisble-md visible-lg visible-xs"></i></a>

                </li>

                <li>
                    <a href="#">
                     <span class="visible-sm visisble-md visible-lg"> Bus </span>
                     <i class="fa fa-bus visible-sm visisble-md visible-lg visible-xs"></i></a>
                </li>
                 <li>
               

                    <a href="#">   <span class="visible-sm visisble-md visible-lg"> car </span>
                    <i class="fa fa-car visible-sm visisble-md visible-lg visible-xs"></i></a>
                </li>
                <li>
                     <a href="#">   <span class="visible-sm visisble-md visible-lg"> clock </span>
                    <i class="fa fa-clock-o visible-sm visisble-md visible-lg visible-xs"></i></a>
                 </li>
                 <li>
                      <a href="#">   <span class="visible-sm visisble-md visible-lg"> Eye </span>
                    <i class="fa fa-eye-slash  visible-sm visisble-md visible-lg visible-xs"></i></a>
                </li>
                 <li>
                    
                      <a href="#">   <span class="visible-sm visisble-md visible-lg"> History </span>
                    <i class="fa fa-history  visible-sm visisble-md visible-lg visible-xs"></i></a>
                </li>


                </li>
            </ul>

        </nav>
    </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-xs-10  col-lg-12">
            <h1> Banner</h1>
            <p> This might be Banner

     
            </div>
            
        </div>
        
    </div>

</body>
</html>