<!DOCTYPE html>
<html>

<head>
  <title><%=title%></title>
</head>
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/tether/dist/js/tether.js"></script>
    <!--endbower-->
    <!--inject:js-->

   <script src="/js/scripts.js"></script>

   <!--endinject-->

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
<body>
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <% for(var i=0; i<sideMenu.length;i++) {%>
                <li>
                    <a href="<%=sideMenu[i].Link%>"> <i class="fa fa-fw fa-hand-o-right"></i> <%=sideMenu[i].Text%> 
                    </a>
                </li>
                <%}%> 
                </ul>




</body>
</html>