<!DOCTYPE html>
<html>

<head>
  <title><%=title%></title>
</head>
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/tether/dist/js/tether.js"></script>
    <!--endbower-->
    <!--inject:js-->

   <script src="/js/scripts.js"></script>

   <!--endinject-->

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
<body>
    
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary ">

    </nav>
    <div class="col-md-1">       
    <div class="padding-top">
            <ul class="nav nav-pills nav-stacked">                     
            <% for(var i=0; i<sideMenu.length;i++) {%>
            <li class=" active">
            <a href="<%=sideMenu[i].Link%>"> 
                    
                    <i class="fa fa-fw fa-hand-o-right"></i> <%=sideMenu[i].Text%> 
                </a>
            </li>
            <%}%> 
            </ul>
            </div>
        </div>
    
    
       <div class="col-md-9 col-lg-10 main">
        <div class="card card-inverse card-danger">
         <div class="card-block bg-danger" >
            <div class="verti-align"> 
            <div class="header">
        <p ><b>Sign Up</p>
            </div>
            </div>
  <form name="signUpForm" action="/auth/signUp" method="post">
    <div class="verti-align">

        
        <label for="lname">Username</label> <input name="userName" id="username">
    </div>
    <div class="verti-align">
        <label for="lname">Password</label> <input name="password" id="password">
    </div>
    <div class="verti-align">
        <label for="lname">Repeat Password</label> <input name="password" id="password">
    </div>
    <div class="verti-align">
        <input class=" btn-primary" type="submit" value="Submit">
    </div>
  </form>
</div>
    </div>
     </div>
      </div>
        

    
   
    


</body>
</html>